version: '3.8'

services:
  redis:
    image: redis:latest
    container_name: DB_redis
    ports:
      - "6379:6379"

    volumes:
      - redis_data:/data


volumes:
  redis_data:

# docker exec -it DB_redis redis-cli
